<html>
  <head>
    <link rel="styesheet" type="text/css" href="./main.css">
    <style>
      body {
        font-family: monospace, sans-serif;
      }
      .container { 
        height: 100%;
        position: relative;
      }
      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    </style>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const loc = window.location;
      const url = new URL(loc);
      
      const GRID_LINE = parseInt(url.searchParams.get('grid_line'));
      const GRID_COL = parseInt(url.searchParams.get('grid_col'));

      const FIXED_CODE_LINE = parseInt(url.searchParams.get('fixed_code_line'));
      const FIXED_CODE_COL = parseInt(url.searchParams.get('fixed_code_col'));
      const FIXED_CODE_NUMBER = parseInt(url.searchParams.get('fixed_code_number'));

      const TIMER_MIN = parseInt(url.searchParams.get('timer_min'));
      const TIMER_MAX = parseInt(url.searchParams.get('timer_max'));

      console.log({
        GRID_COL, GRID_LINE, FIXED_CODE_COL, FIXED_CODE_LINE, FIXED_CODE_NUMBER, TIMER_MIN, TIMER_MAX
      })
    </script>
  </head>
  <body>
    <div id="app" class="container">
      <table class="center">
        <tr v-for="lines in codeGrid">
          <th v-for="code in lines" :key="code.n">{{ code.n }}</th>
        </tr>
      </table>
    </div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          codeGrid: [],
          grid : {
            col: GRID_LINE || 9,
            line: GRID_COL || 9
          },
          fixedCode: {
            line: FIXED_CODE_LINE || 0,
            col: FIXED_CODE_COL || 0,
            number: FIXED_CODE_NUMBER || 5
          },
          timer: {
            min: TIMER_MIN || 700,
            max: TIMER_MAX || 1500
          }
        }
      },
      methods: {
        getRndInteger(min, max) {
          return Math.floor(Math.random() * (max - min + 1) ) + min;
        },
        drawRandomNumber(line, col) {
          this.codeGrid[line][col] = { n: this.getRndInteger(0, 9) };
        }
      },
      created() {
        // init grid and timers
        for (let line = 0; line < this.grid.line; line++) {
          this.codeGrid[line] = [];
          for (let col = 0; col < this.grid.col; col++) {
            // if fixed code number
            if (line === this.fixedCode.line && col === this.fixedCode.col) {
              this.codeGrid[line][col] = { n: this.fixedCode.number };
            } else {
              // random between 0 and 9
              setInterval(this.drawRandomNumber, this.getRndInteger(this.timer.min, this.timer.max), line, col);
              this.codeGrid[line][col] = { n: this.getRndInteger(0, 9) };
            }
          }
        }
      },
    });
    const vm = app.mount('#app');
  </script>
</html>